NOTION_TOKEN=secret_notation_token_here
NOTION_VERIFICATION_TOKEN= # will be filled when Notion sends verification request
NOTION_DATABASE_ID_JOBS= # paste your Jobs DB id
NOTION_DATABASE_ID_CUSTOMERS= # paste your Customers DB id
HCP_API_KEY=your_hcp_api_key_here
HCP_BASE_URL=https://api.housecallpro.com/v2
